/* Home Screen CSS */
.splash {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -5;
    color: #802bb1;
    display: flex;
}
.splash h1 {
    font-size: 11rem;
}
.splash h2, h3 {
    color: #fff;
    
    /* Fade in */
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.splash h2 {
    font-size: 8rem;
}
.splash h3 {
    font-size: 3rem;
}

/* Content Below Splash*/
.content {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 100vh;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    text-align: start;
}
.content h1 {
    color: #802bb1;
    font-size: 5.5rem;
}
.content h2 {
    color: #fff;
    font-size: 2.5rem;
}



/* Keyframes */
@keyframes fadeInAnimation {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}