@font-face { /* Hind Siliguri Font */ 
    font-family: 'Hind_Siliguri';
    src: url('../fonts/hs/HindSiliguri-Medium.ttf'),
         url('../fonts/hs/HindSiliguri-Bold.ttf'),
         url('../fonts/hs/HindSiliguri-Light.ttf'),
         url('../fonts/hs/HindSiliguri-Regular.ttf'),
         url('../fonts/hs/HindSiliguri-SemiBold.ttf');
}

body {
  margin: 0;
  font-family: 'Hind_Siliguri';
  background-color: #333333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}  

/* Navigation Bar */
.Navi {
    padding: 1rem;
}
.NavItem {
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 400ms ease;
}
.NavItem:hover {
    transform: scale(1.1) translateY(-10%);
}

/* Fade in objects */
.fader {
    opacity: 0;
    transition: opacity 400ms ease-in;
}
.fader.appear {
    opacity: 1;
}